{% extends 'base.html' %}

{% block title %}Editar Post{% endblock %}

{% block content %}
<div class="centered-content">
    <h2>Editar Post</h2>
</div>

<div class="post-detail">
    <div class="edit-post">
        <form action="{% url 'crear' %}" method="POST" class="edit-form">
            {% csrf_token %}
            
            <!-- Renderiza cada campo del formulario manualmente -->
            <div class="form-field">
                <label for="{{ form.titulo.id_for_label }}"></label>
                {{ form.titulo }}
            </div>
            
            <div class="form-field">
                <label for="{{ form.contenido.id_for_label }}"></label>
                {{ form.contenido }}
            </div>


            <button type="submit" class="btn">Guardar Cambios</button>
        </form>

        <form action="{% url 'detalle_posteo' post.pk %}" class="edit-form">
            <button type="submit" class="btn">Cancelar</button>
        </form>
    </div>
</div>
{% endblock %}
