{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="home">
    <p>Bienvenido <strong>{{ user.username }} </strong></p>
    <p>Selecciona <strong>CREAR POST</strong> para publicar tu propio post y <strong>VER POSTS</strong> para ver lo que se ha publicado</p>
</div>

<div class="home"><p>Algunos de los posts de la comunidad:</p></div>



<div class="post-container">
    <ul>
        {% for post in posts %}
        <a href="{% url 'detalle_posteo' post.pk %}" class="post-link">
        <li>
            {{ post.titulo }}
            <span>por {{ post.author }}</span>
        </li>
        </a>
        {% empty %}
        <li>No hay posts disponibles en este momento.</li>
        {% endfor %}
    </ul>
</div
    
{% else %}
    <div class="home">
    <p><strong>Inicia Sesion</strong> o <strong>Registrate</strong> para ver el contenido de la pagina</p>
    </div>

{% endif %}
    
{% endblock %}
    