{% extends 'base.html' %}

{% block title %}Detalle del Post{% endblock %}

{% block content %}
<div class="centered-content">
    <h2>Detalle del Post</h2>
</div>

<div class="post-detail-container">

    <!-- Detalle del Post y Botones -->
    <div class="post-detail-wrapper">
        <div class="post-detail-card">
            <strong class="">{{post.author}}</strong><br>        
            <p><strong>Título:</strong> {{ post.titulo }}<br></p>
            <p><strong>Contenido:</strong> {{ post.contenido }}<br></p>
            <p><strong>Fecha:</strong> {{ post.Fecha_de_publicacion }}<br></p>
        </div>

        <div class="post-detail-actions">    
            {% if user == post.author %}
                <form action="{% url 'edit' post.pk %}" >
                    {% csrf_token %}
                    <button type="" class="post-detail-btn">EDITAR</button>
                </form>
                <form method="POST" action="{% url 'delete' post.pk %}" ">
                    {% csrf_token %}
                    <button type="" class="post-detail-btn">ELIMINAR</button>
                </form>
            {% endif %}
        </div>
    </div>

    <div class="centered-button-container">
        <a href="{% url 'lista_posteos' %}" class="back-to-list">Volver a la lista</a>
    </div>

{% endblock %}
