.post-detail-container {
    padding:10px;
}

.post-detail-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}

.post-detail-card {
    flex: 1;
    background-color: var(--color-gris);
    border-radius: 10px;
    padding: 25px;
}

.post-detail-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post-detail-card p {
    margin: 10px 0;
    color: var(--color-claro);
}

.post-detail-btn {
    background-color: var(--color-naranja);
    color: var(--color-claro);
    padding: 5px;
    font-size: 18px; 
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border: 2px solid var(--color-naranja); 
    border-radius: 20px;
    width: 150px;
    height: 90px; 
    display: flex;
    align-items: center;
    justify-content: center; 
}
.post-detail-btn:hover {
    background-color: var(--color-claro);
    color: var(--color-gris);
    border-color: var(--color-naranja); 
}

.centered-button-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.back-to-list {
    background-color: var(--color-naranja);
    color: var(--color-gris);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    display: inline-block;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    border: 2px solid transparent; /* Borde inicial transparente */
}

.back-to-list:hover {
    background-color: var(--color-claro);
    color: var(--color-gris);
    border-color: var(--color-naranja); /* Borde visible en hover */
}



/*      VISUALIZACION DE POSTS       */

/* Estilo para el contenedor de los posts */
.posts-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 20px;
}

/* Estilo para los contenedores individuales de secciones de posts */
.post-container {
    padding: 20px;
    
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px; /* Limitar el ancho máximo del contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar una sombra suave */
}

/* Estilo para los enlaces de los posts */
.post-link {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--color-naranja);
    font-weight: bold;
    transition: color 0.3s ease;
}

.post-link:hover {
    color: var(--color-claro);
}


/* Estilo para los nombres de usuario dentro de los posts */
.post-author {
    color: var(--color-naranja);
    font-weight: bold;
}

.post-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-container ul li {
    background-color: var(--color-gris);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.post-container ul li:hover {
    transform: translateY(-5px); /* Elevar el post ligeramente */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Aumentar la sombra */
}

.post-container ul li span {
    display: block;
    margin-top: 5px;
    color: var(--color-claro);
    font-size: 0.9em;
    font-style: italic;
}