:root {
    --color-naranja: #ff6f00;
    --color-gris: #333333;
    --color-claro: #f4f4f4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-claro);
    color: var(--color-gris);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-gris);
    color: var(--color-claro);
    padding: 0 20px;
    text-align: center;
    border-bottom: 5px solid var(--color-naranja);
    height: 100px;
}

header h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
    flex-grow: 1; /* Hace que el h1 ocupe el espacio necesario para centrarlo */
}

header p {
    margin: 0; 
    text-align: center;
    color: var(--color-claro);
}

/* Navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-claro);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.5s ease;
}

footer {
    background-color: var(--color-gris);
    color: var(--color-claro);
    text-align: center;
    padding: 20px;
    border-top: 3px solid var(--color-naranja);
}

/*      CONTENIDOOOO       */

.home {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: var(--color-claro);
    border-radius: 10px;
}

.home p {
    font-size: 2em;
    color: var(--color-gris);
}

.main-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;
    gap: 20px;
}

.main-div > div {
    flex: 1;
    background-color: var(--color-claro);
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
}

.main-div > div:last-child {
    margin-right: 0; /* Elimina el margen derecho del último div */
}

h2 {
    color: var(--color-naranja);
    margin-bottom: 20px;
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

input[type="text"], textarea {
    border: 1px solid var(--color-gris);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    min-height: 60px;
    max-height: 1px;
}

button[type="submit"] {
    background-color: var(--color-naranja);
    border: none;
    border-radius: 10px;
    color: var(--color-claro);
    cursor:pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: var(--color-gris);
}

ul{
    list-style-type: none;
    padding: 0;
}

li {
    background-color: var(--color-gris);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;

}

li p {
    margin: 5px 0;
    color: var(--color-claro)
}

strong {
    color: var(--color-naranja);
}
