:root {
    --color-naranja: #ff6f00;
    --color-gris: #333333;
    --color-claro: #f4f4f4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-claro);
    color: var(--color-gris);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-gris);
    color: var(--color-claro);
    padding: 0 20px;
    text-align: center;
    border-bottom: 5px solid var(--color-naranja);
    height: 100px;
}

header h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
    flex-grow: 1; /* Hace que el h1 ocupe el espacio necesario para centrarlo */
}

header p {
    margin: 0; 
    text-align: center;
    color: var(--color-claro);
}

/* Navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-claro);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.5s ease;
}

footer {
    background-color: var(--color-gris);
    color: var(--color-claro);
    text-align: center;
    padding: 20px;
    border-top: 3px solid var(--color-naranja);
}
