:root {
    --color-naranja: #ff6f00;
    --color-gris: #333333;
    --color-claro: #f4f4f4;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-claro);
    color: var(--color-gris);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-gris);
    color: var(--color-claro);
    padding: 0 20px;
    text-align: center;
    border-bottom: 5px solid var(--color-naranja);
    height: 100px;
}

header h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 2.5em;
    flex-grow: 1; /* Hace que el h1 ocupe el espacio necesario para centrarlo */
}

.header p {
    margin: 0; 
    text-align: center;
    color: var(--color-claro);
}

h2 {
    margin-left: 20px;
    color: var(--color-naranja);
}

.centered-content {
    text-align: center;
    margin: 0 auto;
    text-align: center;
}

/* Navegación */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-claro);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.5s ease;
}

form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-gris);
    padding: 20px;
    border-radius: 10px;
    color: var(--color-claro);
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background: var(--color-naranja);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 100px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    color: var(--color-gris);
}

.card .btn {
    text-decoration: none;
    color: var(--color-claro);
    background-color: var(--color-gris);
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: #e65c00;
}

footer {
    background-color: var(--color-gris);
    color: var(--color-claro);
    text-align: center;
    padding: 20px;
    border-top: 3px solid var(--color-naranja);
}

/* Formulario crear */
.form-container {
    background-color: var(--color-gris);
    border-radius: 20px;
    box-shadow: 0 4px 20px var(--color-naranja);
    padding: 10px;
    max-width: 500px;
    margin: 0 auto ;
}

input[type="text"], textarea {
    border: 1px solid var(--color-gris);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    background-color: var(--color-claro);
    border: none;
    border-radius: 20px;
    color: var(--color-gris);
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: var(--color-naranja);
    color: var(--color-claro);
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-gris);
}


.manage-container {
    display: flex;
    justify-content: space-between; /* Espacia los divs y los pega a los lados */
    align-items: flex-start;
    gap: 20px; /* Ajusta el espacio entre los divs */
    margin: 20px auto;
    max-width: 1200px;
    padding: 0 20px; 
}
/* POSTS  */

/* Estilo general para la sección de posts */
.post-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    margin: 20px auto;
    max-width: 1200px;
}

.post-card {
    padding: 15px;
    background-color: var(--color-gris);
    margin: 10px 0;
    width: 100%;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-card h3 {
    text-align: center;
    color: var(--color-gris);
    margin-bottom: 15px;
}

.post-card strong {
    color: var(--color-naranja);
}

/* Lista dentro del contenedor de posts */
.post-container ul {
    list-style-type: none;
    padding: 0;
}

/* Justificación del contenido del post */
.post-card p {
    text-align: left;
    margin: 10px 0;
    color: var(--color-claro);
}

/* Botones de eliminar dentro de los posts */
.post-card button {
    background-color: var(--color-naranja);
    border: none;
    color: var(--color-claro);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.post-card button:hover {
    background-color: #e65c00;
}

/* Título de la sección general */
h2 {
    text-align: center;
    color: var(--color-naranja);
    margin-bottom: 20px;
    white-space: nowrap;
}

/* Título para las secciones de posts */
h3 {
    color: var(--color-gris);
    text-align: center;
}

.user {
    background-color: var(--color-claro);
    padding: 8px;
    color: var(--color-naranja);
    border-radius: 10px;
}